Repository metaopt/torchopt, pull requests merged in 2022-11, with the labels that each got.

#48 feat(examples): implicit MAML omniglot example
  CHANGELOG.md
  examples/iMAML/README.md
  examples/iMAML/imaml-accs.png
  examples/iMAML/imaml_omniglot.py
  examples/iMAML/support/omniglot_loaders.py
Labels: enhancement, example / tutorial

#108 fix(examples/implicit): fix iMAML example with functional APIs
  CHANGELOG.md
  examples/iMAML/imaml-accs-functional.png
  examples/iMAML/imaml-accs.png
  examples/iMAML/imaml_omniglot_functional.py
  tests/test_implicit.py
  torchopt/diff/implicit/nn/module.py
  torchopt/optim/meta/adam.py
  torchopt/optim/meta/adamw.py
  torchopt/optim/meta/base.py
  torchopt/optim/meta/rmsprop.py
  torchopt/optim/meta/sgd.py
  torchopt/utils.py
  tutorials/5_Implicit_Differentiation.ipynb
Labels: bug, example / tutorial

#105 perf(acc_op): add if condition for the element number small situations
  CHANGELOG.md
  src/adam_op/adam_op_impl_cpu.cpp
Labels: enhancement, cxx / cuda

#110 feat(tutorial): update implicit_differentiation tutorial
  torchopt/__init__.py
  torchopt/diff/__init__.py
  tutorials/5_Implicit_Differentiation.ipynb
Labels: example / tutorial

#117 feat: add lazy-init for the optimizer states
  torchopt/base.py
  torchopt/optim/base.py
  torchopt/optim/func/base.py
  torchopt/optim/meta/base.py
  torchopt/transform/scale_by_adam.py
  torchopt/utils.py
Labels: bug, enhancement

#121 deps: bump optree to 0.4.0
  README.md
  conda-recipe-minimal.yaml
  conda-recipe.yaml
  docs/conda-recipe.yaml
  pyproject.toml
  requirements.txt
  torchopt/hook.py
  torchopt/optim/base.py
  torchopt/pytree.py
  torchopt/transform/utils.py
  torchopt/typing.py
  torchopt/utils.py
Labels: dependencies

#67 feat: add Python implementation of accelerated OP
  .github/workflows/build.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  CMakeLists.txt
  conda-recipe-minimal.yaml
  conda-recipe.yaml
  docs/conda-recipe.yaml
  pyproject.toml
  requirements.txt
  setup.py
  src/adam_op/adam_op.cpp
  src/adam_op/adam_op_impl_cpu.cpp
  src/adam_op/adam_op_impl_cuda.cu
  torchopt/_C/adam_op.pyi
  torchopt/accelerated_op/_src/__init__.py
  torchopt/accelerated_op/_src/adam_op.py
  torchopt/accelerated_op/adam_op.py
Labels: enhancement, feature, cxx / cuda
