Repository metaopt/torchopt, pull requests merged in 2022-09, with the labels that each got.

#12 feat(examples): TorchRL - MAML integration
  CHANGELOG.md
  docs/source/developer/contributor.rst
  examples/MAML-RL/README.md
  examples/MAML-RL/helpers/policy.py
  examples/MAML-RL/helpers/policy_torchrl.py
  examples/MAML-RL/helpers/tabular_mdp.py
  examples/MAML-RL/maml.png
  examples/MAML-RL/maml_torchrl.png
  examples/MAML-RL/maml_torchrl.py
  examples/requirements.txt
Labels: enhancement, example / tutorial

#41 feat: implicit differentiation integration
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  tests/helpers.py
  tests/requirements.txt
  tests/test_implicit.py
  torchopt/__init__.py
  torchopt/_src/base.py
  torchopt/_src/implicit_diff.py
  torchopt/_src/linalg.py
  torchopt/_src/linear_solve.py
  torchopt/_src/visual.py
Labels: enhancement, functorch, feature

#73 docs(implicit_diff): implicit differentiation integration
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  docs/requirements.txt
  docs/source/api/api.rst
  docs/source/index.rst
  docs/source/spelling_wordlist.txt
  docs/source/torchopt101/torchopt-101.rst
  tests/test_implicit.py
  torchopt/_src/implicit_diff.py
  torchopt/_src/linalg.py
  torchopt/_src/linear_solve.py
  tutorials/5_Implicit_Differentiation.ipynb
Labels: documentation, enhancement, example / tutorial
